# Regression

## Individual assignments

### Import of libraries and file

In [1]:
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv("Flaveria.csv")

##here is the test set i used with the training set
test_import = pd.read_csv("Flaveria_testset.csv")

### Assigning dummievalues

I convert the categorical values to 0 and 1, since fit in the model does not accept string

In [3]:
df_dummies = pd.get_dummies(df, columns =['N level','species'] )
test_import_dummies = pd.get_dummies(test_import, columns =['N level','species'] )

### Splitting up train and test

I use 6 values from each category and 1 from each level from the set and put them as test values.

In [4]:
df_dummies.head()

,Plant Weight(g),N level_H,N level_L,N level_M,species_bidentis,species_brownii,species_pringlei,species_ramosissima,species_robusta,species_trinervia
0,0.3008,0,1,0,0,1,0,0,0,0
1,0.3288,0,1,0,0,1,0,0,0,0
2,0.3304,0,0,1,0,1,0,0,0,0
3,0.3880,0,0,1,0,1,0,0,0,0
4,0.4060,0,0,1,0,1,0,0,0,0

In [5]:
test_import_dummies.head()

,Plant Weight(g),N level_H,N level_L,N level_M,species_bidentis,species_brownii,species_pringlei,species_ramosissima,species_robusta,species_trinervia
0,0.4060,0,0,1,0,1,0,0,0,0
1,0.3955,1,0,0,0,1,0,0,0,0
2,0.4592,0,0,1,0,0,1,0,0,0
3,0.4627,0,0,1,0,0,0,0,0,1
4,0.4063,0,1,0,0,0,0,1,0,0

In [6]:
X_test = test_import_dummies.drop("Plant Weight(g)", axis=1)
y_test = test_import_dummies["Plant Weight(g)"]

In [7]:
X_train = df_dummies.drop("Plant Weight(g)", axis=1)
y_train = df_dummies["Plant Weight(g)"]

### Ridge

I used the ridge as my linear model type

In [60]:
lm = linear_model.Ridge(alpha=3, fit_intercept=False);

In [61]:
model = lm.fit(X_train,y_train)

In [64]:
lm.predict(X_train)

array([0.32741332, 0.32741332, 0.32951284, 0.32951284, 0.32951284,
       0.31357902, 0.31357902, 0.31357902, 0.37182237, 0.37182237,
       0.37182237, 0.37392189, 0.37392189, 0.35798807, 0.35798807,
       0.35798807, 0.35279202, 0.35279202, 0.35279202, 0.35489154,
       0.35489154, 0.35489154, 0.33895772, 0.33895772, 0.34140423,
       0.34140423, 0.34350375, 0.34350375, 0.34350375, 0.32756993,
       0.32756993, 0.32756993, 0.402386  , 0.402386  , 0.402386  ,
       0.40448552, 0.40448552, 0.38855171, 0.38855171, 0.38855171,
       0.41527384, 0.41527384, 0.41527384, 0.41737336, 0.41737336,
       0.41737336, 0.40143954, 0.40143954])

### RÂ² score

In [63]:
lm.score(X_test, y_test)

-0.7692670896350553