# Regression 
## Individual assignment

### Imports of libraries

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter
import seaborn as sns
sns.set()

In [10]:
from sklearn import linear_model

### Import dataset file

In [13]:
df = pd.read_csv("Flaveria.csv")

In [6]:
df.head()

  N level  species  Plant Weight(g)
0       L  brownii           0.3008
1       L  brownii           0.3288
2       M  brownii           0.3304
3       M  brownii           0.3880
4       M  brownii           0.4060

In [17]:
df.describe()

       Plant Weight(g)
count        48.000000
mean          0.410179
std           0.081772
min           0.278600
25%           0.354600
50%           0.396800
75%           0.459825
max           0.652000

### Convert from string to values

In [36]:
mapping = {}
cols = df.drop('species', axis=1).columns

for col in cols:
  mapping[col] = {species: i for i, species in enumerate(df[col].unique())}
def mapping_func(row):
  return pd.Series([mapping[col][row[col]] for col in cols])

In [37]:
mapping

{'N level': {'H': 2, 'L': 0, 'M': 1},
 'Plant Weight(g)': {0.2786: 15,
  0.2962: 7,
  0.3008: 0,
  0.3044: 47,
  0.32: 26,
  0.3254: 18,
  0.3288: 1,
  0.3304: 2,
  0.3329: 27,
  0.3371: 28,
  0.3372: 36,
  0.3504: 11,
  0.35600000000000004: 40,
  0.3572: 25,
  0.3661: 31,
  0.3684: 17,
  0.369: 13,
  0.37200000000000005: 16,
  0.3797: 6,
  0.384: 23,
  0.38799999999999996: 3,
  0.3881: 8,
  0.3943: 21,
  0.3955: 5,
  0.3981: 22,
  0.4: 32,
  0.406: 4,
  0.4063: 24,
  0.4135: 20,
  0.4137: 37,
  0.425: 33,
  0.4266: 30,
  0.4328: 45,
  0.4331: 29,
  0.4464: 38,
  0.4592: 12,
  0.4617: 46,
  0.4627: 19,
  0.4667: 10,
  0.4804: 14,
  0.4972: 43,
  0.5031: 34,
  0.5098: 39,
  0.5194: 9,
  0.5362: 41,
  0.5654: 44,
  0.6128: 35,
  0.652: 42}}

### Fit a model and predict

In [20]:
X = df.apply(mapping_func, axis=1)
y = df['Plant Weight(g)']

In [24]:
lm = linear_model.LinearRegression()
model = lm.fit(X,y)

In [28]:
predictions = lm.predict(X)
print(predictions)

[0.36584275 0.36838684 0.35548116 0.35802525 0.36056935 0.34766366
 0.35020776 0.35275185 0.3861955  0.38873959 0.39128368 0.378378
 0.38092209 0.36801641 0.3705605  0.3731046  0.40654824 0.40909234
 0.41163643 0.39873075 0.40127484 0.40381893 0.39091325 0.39345734
 0.42690099 0.42944508 0.4165394  0.41908349 0.42162759 0.4087219
 0.411266   0.41381009 0.44725374 0.44979783 0.45234192 0.43943624
 0.44198033 0.42907465 0.43161874 0.43416284 0.46760648 0.47015058
 0.47269467 0.45978899 0.46233308 0.46487717 0.45197149 0.45451558]

In [30]:
lm.score(X,y)

0.20101614688376968

In [32]:
lm.coef_

array([-0.01544978,  0.00254409])