# Regression 
## Individual assignment

### Imports of libraries

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from collections import Counter
import seaborn as sns
sns.set()

### Import dataset file

In [5]:
df = pd.read_csv("Flaveria.csv")

In [6]:
df.head()

  N level  species  Plant Weight(g)
0       L  brownii           0.3008
1       L  brownii           0.3288
2       M  brownii           0.3304
3       M  brownii           0.3880
4       M  brownii           0.4060

In [8]:
df.describe()

       Plant Weight(g)
count        48.000000
mean          0.410179
std           0.081772
min           0.278600
25%           0.354600
50%           0.396800
75%           0.459825
max           0.652000